#bubbleContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    pointer-events: none;
  
  
  }
  @keyframes moveRandom {
    0% {
        transform: translate(0, 0) scale(0.5) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translate(var(--dx), var(--dy)) scale(2) rotate(var(--rotation));
        opacity: 0;
    }
  }
  
  :host ::ng-deep #bubbleContainer .bubble {
    position: absolute;
    border-radius: 50%;
  
    opacity: 0.8;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
    animation: moveRandom linear forwards;
  }
  
  #timer {
    font-size: 2.4rem;
  }