@mixin range_cursor {
    width: 40px;
    height: 30px;
    background: #8E8E8E;
    border-radius: 10px;
    border: 2px solid rgb(21, 21, 21);
    cursor: pointer;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
  }
  
  @mixin range_cursor_active {
    transform: scale(1.25);
  }
  
  .slider-wrapper {
    width: 80%;
    display: flex;
    justify-content: center;
  }
  
  .slider-container {
    width: 100%;
    padding: 1vw;
    border-radius: 10px;
  }
  
  input[type="range"] {
    width: 100%;
    appearance: none;
    // background: linear-gradient(to right, #D0D0D0, #A0A0A0, #606060);
    background: linear-gradient(to right, #E0E0E0, #B0B0B0, #4F4F4F);
    height: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    @include range_cursor;
  }
  
  input[type="range"]:active::-webkit-slider-thumb {
    @include range_cursor_active;
  }
  
  /* Curseur Firefox */
  input[type="range"]::-moz-range-thumb {
    @include range_cursor;
  }
  
  input[type="range"]:active::-moz-range-thumb {
    @include range_cursor_active;
  }
  
  /* Curseur Edge */
  input[type="range"]::-ms-thumb {
    @include range_cursor;
  }
  
  input[type="range"]:active::-ms-thumb {
    @include range_cursor_active;
  }
  
  .ticks {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-top: 5px;
  }
  
  .tick-marker {
    width: 2px;
    height: 12px;
    background-color: #B0B0B0;
    margin: auto;
  }
  
  button {
    display: block;
    background: rgb(255,102,0);
    color: white;
    padding: 17px 35px 17px 35px;
    font-size: 22px;
    text-decoration: none;
    border-color: rgb(255, 51, 0);
    border-radius: 30px;
    margin-bottom: 20px;
    width: max-content;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4);
  }